img {
    height: 10em;
  }

body {
  background: url("/static/images/vichy/vichy.png") repeat center center;
}

.container {
  background-color: whitesmoke;
  color: #312f30;
  /* background-color: #312f30;
  color: whitesmoke; */
  margin: auto;
  padding: 1em;
}

.empty-space {
  /* background: transparent; */
  background-color: #312f30;
}

.table {
  color: #312f30;
  background-color: whitesmoke;
}

a {
  color: #00B9A1;
  text-decoration: underline;
}

.nav {
  color: #00826D;
  background-color: whitesmoke;
}

/* .navbar-custom {
  background-color: whitesmoke; opacity: 0.5;
  color: #00826D;
} */

.logo {
  height: 2em;
}

.btn-primary {
  color: whitesmoke;
  background-color: #00B9A1;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;  /* required because fixed position */
  background-color: whitesmoke; opacity: 0.5;
  color: #00826D; 
}