img {
    height: 10em;
  }

.flexible-img {
  height: auto;
}

body {
  background: url("/static/images/vichy/vichy.png") repeat center center;
}

.card {
  margin: 0.5em;
}

.container {
  padding: 1em;
}

.blurb {
  background-color: whitesmoke;
  color: #312f30;
  /* background-color: #312f30;
  color: whitesmoke; */
  margin: auto;
  padding: 1em;
}

.popout {
  background-color: #c8a16e; 
  color: whitesmoke;
}

.table {
  color: #312f30;
  background-color: whitesmoke;
}

a {
  color: #00B9A1;
  text-decoration: underline;
}

.nav {
  color: #00826D;
  background-color: whitesmoke;
}

.user-info {
  margin-top: 0;
}

.navbar {
  color: #00826D;
  background-color: rgb(245, 245, 245);
}

.logo {
  height: 2em;
}

.btn-primary {
  color: whitesmoke;
  background-color: #00B9A1;
}

.btn-warning {
  color: whitesmoke;
  background-color: #BC4364;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;  
  background-color: whitesmoke; opacity: 0.5;
  color: #00826D; 
}

.sidebar-user nav.position-sticky {
  top: 0;
  left: 0;
}

.empty-space {
  background-color: transparent;
}

.flash-msg {
  padding: 10px;
  margin: 0;
  background-color: #c8a16e;
}
