{% extends 'base.html' %}

{% block title %}Sign Up!{% endblock %}

{% block body %}
  <h1>Create an Account</h1>
  <form action="/new_user" method="POST">
    <p>First Name <input type="text" name="fname"></p>
    <p>Last Name <input type="text" name="lname"></p>
    <p>Email <input type="email" name="email"></p>
    <p>Password <input type="password" name="pwd"></p>
    <p>Confirm Password <input type="password" name="pwd_confirm"></p>
    <p>Profile Picture url <input type="url" name="profile_pic"></p>
    <p><input type="submit"></p>
  </form>
  <p><a href="/">Nevermind, return to homepage.</a></p>
{% endblock %}