{% extends 'base.html' %}

{% block title %}Add To DB{% endblock %}

{% block body %}
  <h1>Add new item to the database!</h1>

  <form action="/save_new_item" method="POST">

    <!-- dropdown menu of types ... NTH other option where user enters info -->
    <p>Type of media: 
      <select id="media_type" name="media_type" required>
        <option value="">-- please choose an option --</option>
        <option name="media_type" value="1">book</option>
        <option name="media_type" value="2">movie</option>
        <option name="media_type" value="3">tv episode</option>
        <option name="media_type" value="4">podcast</option>
        <option name="media_type" value="5">game</option>
        <option name="media_type" value="6">comic</option>
        <option name="media_type" value="7">other</option>
      </select>
    </p>

    <p>
      Title:
      <input type="text" name="title" id="title" required>
    </p>

    <p>
      Description:
      <input type="text" name="description" id="description"><!-- TODO make this expandable textbox -->
    </p>

    <p>
      Cover image url: 
      <input type="text" name="cover" id="cover" required>
    </p>

    <p>
      Year: 
      <input type="number" name="year" id="year">
    </p>

    <p>
      Genre: 
      <select id="genre" name="genre" required>
        <option value="">-- none of these --</option>
        {% for genre in genres %} 
          <option value="{{ genre.genre_name }}">
            {{ genre.genre_name }}
          </option>
        {% endfor %} 
      </select>
    </p>

    <p>
      Note:
      <input type="text" name="note" id="note">
    </p>
  
    <p><input type="submit"></p>

  </form>

{% endblock %}