{% extends 'base.html' %}

{% block title %}Add Media{% endblock %}

{% block body %}
  <h1>Review {{ user_item.item.title }}</h1>

  <form action="/process_edits" method="GET">

    <p>
      Rating:
      {% for i in range(1,6) %}
       <input type="radio" name="rating" value="{{ i }}" id="rate{{ i }}"
         {% if user_item.rating == i %}checked{% endif %}>
       <label for="rate{{ i }}">{{ i }}</label>
      {% endfor %} 
    </p>

    <p>
      Review:
      <input type="text" name="review" id="review" value="{{ user_item.review }}">
    </p>

    <p>
      Source: 
      <select id="source" name="source" required>
        <option value="">-- please choose a source --</option>
        {% for source in sources %} 
          <option value="{{ source }}" 
            {% if source == user_item.source %}selected{% endif %}>
            {{ source }}
          </option>
        {% endfor %} 
      </select>
    </p>

    <p>
      <input type="checkbox" name="dnf" id="dnf" value="{{ user_item.dnf }}"> 
      Did not finish! 
    </p>

    <p>
      <input type="date" name="start_date" id="start_date" 
      value="{{ user_item.start_date }}"> Start Date 
    </p>

    <p>
      <input type="date" name="end_date" id="end_date" value="{{ user_item.end_date }}"> 
      End Date 
    </p>

    <p><input type="submit"></p>

    <div>
      {% if user_item.collections %}
        {{ user_item.item.title }} is in the following collections:
        <ul>
          {% for collection in user_item.collections %} 
            <li>{{ collection.name }}</li>
          {% endfor %} 
        </ul>
      {% endif %} 
      {% if not user_item.collections %} 
        {{ user_item.item.title }} is not in any of your collections.
      {% endif %}
    </div>

  </form>

{% endblock %}