{% extends 'base.html' %}

{% block title %}Mybrary | Home{% endblock %}

{% block body %}
<div class="row empty-space">&ThinSpace;</div><!--add whitespace-->
<div class="jumbotron">
<div class="row d-flex align-items-center">
  <div class="col-4 d-flex justify-content-end">
    <img src="/static/images/logo/logo.png">
  </div>
  <div class="col">
  <h1>Welcome to Mybrary!</h1>
  <h3>A personal library app for all media.</h3>
  </div>
  </div>
</div>
  <div class="row empty-space" style="height: 20em">&ThinSpace;</div><!--add whitespace-->
{% endblock %}