{% extends 'base.html' %}

{% block title %}Manage Media{% endblock %}

{% block body %}
  <h1>Manage Your Library</h1>
  <ul>
    <li><a href="/search">Search for an item to add</a></li>
    <li><a href="/media">Browse all media</a></li>
    <li><a href="/">Return to homepage</a></li>
    </ul>

  <div>
    <h3>Your collections:</h3>
    {% for collection in user.collections %} 
      <div>
        <h5>{{ collection.name }}</h5>
        {% for user_item in collection.user_media %}
          <img src="{{ user_item.item.cover }}" class="collection-id" 
          id="collection-{{ user_item.user_media_id }}" value="{{ user_item.user_media_id }}">
        {% endfor %}
      </div>
    {% endfor %} 
  </div>

  <div id="item-details"></div>

  <div>
    <h3>Your media:</h3>
    {% for user_item in user.media %} 
      <img src="{{ user_item.item.cover }}" class="user-media-id" 
      id="{{ user_item.user_media_id }}" value="{{ user_item.user_media_id }}">
    {% endfor %}
  </div>

  <script src="/static/js/manage.js"></script>
  
{% endblock %}