{% extends 'base.html' %}

{% block title %}Mybrary | Media{% endblock %}

{% block body %}
<div class="row empty-space">&ThinSpace;</div><!--add whitespace-->
<div class="row">
  <div class="col-10 blurb">
    <h3>Mybrary Catalog</h3>
    <table
      data-toggle="table"
      data-search="true"
      data-show-columns="true">
      <thead>
        <tr>
          <th>Type</th>
          <th>Cover</th>
          <th>Title</th>
          <th>Genres</th>
          <th>created_at</th>
        </tr>
      </thead>
      <tbody>
        {% for item in all_media %} 
          <tr id="tr-id-{{ item.item_id }}" class="tr-class-{{ item.item_id }}" 
          data-title="bootstrap table" data-object='{"key": "value"}'>
            <td>{{ item.media_type.media_type }}</td>
            <td><img src="{{ item.cover }}"></td>
            <td><a href="/media/{{ item.item_id }}">{{ item.title }}</a></td>
            <td>{% for genre in item.genres %}<p>{{ genre.genre_name }}</p>{% endfor %}</td>
            <td>{{ item.created_at }}</td>
          </tr>
        {% endfor %} 
      </tbody>
    </table>
  </div>
</div> 
<div class="row empty-space">&ThinSpace;</div><!--add whitespace-->
{% endblock %}