{% extends 'base.html' %}

{% block title %}Mybrary | Search{% endblock %}

{% block body %}
<main>
<div class="row">
  <div class="row empty-space">&ThinSpace;</div><!--add whitespace-->
</div>
<div class="row">
  <div class="col-6 blurb">
  <h3>Let's Check the Database First:</h3>
  <div class="row empty-space">&ThinSpace;</div><!--add whitespace-->
  <form action="/review_media" method="GET">
    
    <!-- dropdown menu of types ... NTH other option where user enters info -->
    <p>Type of media <select class="choice" id="media_type" name="media_type" required>
      <option value="">-- please choose an option --</option>
      <option class="choice" value="book">book</option>
      <option class="choice" value="movie">movie</option>
      <option class="choice" value="tv_ep">tv episode</option>
      <option class="choice" value="item">other</option>
    </select></p>

    <section id="level-2">
      <p>Title <input class="choice" id="title" type="text" name="title"></p>
      <p>Year <input class="choice" id="year" type="number" name="year"></p>
      <p>Main genre <select class="choice" id="genre" name="genre">
        <option class="choice" value="">-- none of these --</option>
        {% for genre in genres %} 
          <option class="choice" value="{{ genre.genre_name }}">
            {{ genre.genre_name }}
          </option>
        {% endfor %} 
      </select></p>
  
    </section>

    <section class="type-of-media choice" id="its-a-book" style="display: none">
      <p>Author <input class="media-specific choice" type="text" id="author" name="author"></p>
    </section>
    <section class="type-of-media choice" id="its-a-movie" style="display: none">
      <p>Runtime (minutes) <input class="media-specific choice" type="number" id="length" name="length"></p>
    </section>
    <section class="type-of-media choice" id="its-a-tv-ep" style="display: none">
      <p>Season <input class="media-specific choice" type="text" id="season" name="season"></p>
    </section>
    <section class="type-of-media choice" id="its-an-item" style="display: none">
      <!-- <p>Type of media <input type="text" name="media_type"></p> -->
    </section>

    <div class="row">
      <div class="col-1"></div>
      <div class="col" id="db-search-results"></div>
    </div>
  
    <!-- <p><input type="submit"></p> -->

  </form>

  <div id="go-search-api"></div>
  <div>Not in the database? <a href="/create_new_item">Add new item here!</a></div>

  <script src="/static/js/search.js"></script>
</div>
</div>
<div class="row">
  <div class="row empty-space">&ThinSpace;</div><!--add whitespace-->
</div>
</main>
{% endblock %}