{% extends 'base.html' %}

{% block title %}🌈{{ user.fname }}'s Homepage!{% endblock %}

{% block body %}
  <h1>📚 Welcome, {{ user.fname }}! 📚 </h1>
  <img src="{{ user.profile_pic }}">
  <ul>
    <li><a href="/log_out">Log Out</a></li>
    <li><a href="/media">Browse all media</a></li>
    <li><a href="/users">View all users</a></li>
    <li><a href="/manage_media">Manage your media</a></li>
  </ul>

  <h3>My collections:</h3>
    {% for collection in user.collections %} 
      <h5>{{ collection.name }}</h5>
      {% for item in collection.user_media %}
        <img src="{{ item.item.cover }}">
      {% endfor %}
    {% endfor %} 

  <h3>My media:</h3>

    {% for item in user.media %} 
      <img src="{{ item.item.cover }}">
    {% endfor %}

{% endblock %}