{% extends 'base.html' %}

{% block title %}🌈{{ user.fname }}'s Homepage!{% endblock %}

{% block body %}
  <h1>📚 Welcome, {{ user.fname }}! 📚 </h1>
  <img src="{{ user.profile_pic }}">

  <ul>
    <li><a href="/log_out">Log Out</a></li>
    <li><a href="/media">Browse all media</a></li>
    <li><a href="/users">View all users</a></li>
    <li><a href="/search">Search for new items</a></li>
  </ul>

  <div id="collection-details"></div>

  <div>
    <h3>Your collections:</h3>
    {% for collection in user.collections %} 
      <div>
        <h5 class="collection" id="{{ collection.collection_id }}" value="{{ collection.collection_id }}">{{ collection.name }}</h5>
        {% for user_item in collection.user_media %}
          <img src="{{ user_item.item.cover }}">
        {% endfor %}
      </div>
    {% endfor %} 
    <button class="collection-actions" id="create-collection">Add New Collection</button>
    <div id="new-collection"></div>
    <div id="which-collection-to-add-to"></div>
  </div>

  <div id="item-details"></div>

  <div>
    <h3>Your media:</h3>
    {% for user_item in user.media %} 
      <img src="{{ user_item.item.cover }}" class="user-media-id" 
      id="{{ user_item.user_media_id }}" value="{{ user_item.user_media_id }}">
    {% endfor %}
  </div>

  <script src="/static/js/manage.js"></script>
  
{% endblock %}