{% extends 'base.html' %}

{% block title %}Mybrary | Home{% endblock %}

{% block body %}
<div class="empty-space">&ThinSpace;</div><!--add whitespace-->

<div class="d-flex align-items-stretch"></div>
  <aside class="navbar align-items-start w-25">
    <nav class="nav flex-column side-nav" id="user-info">
      <img src="{{ user.profile_pic }}">
      <a class="nav-link" href="/pie">Your Genres</a>
      <a class="nav-link" href="/timeline">Your Timeline</a>
      <a class="nav-link" href="/search">Search for New Items</a>
      <a class="nav-link" href="#your-collections">Collections</a>
      <a class="nav-link" href="#your-media">Your Media</a>
    </nav>
  </aside>  

  <div class="empty-space">&ThinSpace;</div><!--add whitespace-->

  <!-- testing modals -->
  <!-- Modal -->
  <div class="modal" id="collection-popout" tabindex="-1" 
  aria-labelledby="collection-popout-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="collection-popout-label">Delete Collection</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you ABSOLUTELY SURE you want to delete this collection? 
            You cannot undo this action.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="button" class="btn btn-warning" id="testing">
            Delete!
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- /testing modals -->
  <main class="main-content w-100">
    <div class="container row" id="collections-display">
      <h3 id="your-collections">Your Collections</h3>
      {% for collection in user.collections %} 
      <div class="container col" id="collection-display-{{ collection.collection_id }}">
        <h5 class="collection" id="{{ collection.collection_id }}" 
        value="{{ collection.collection_id }}">
          {{ collection.name }}
          {% if not collection.public %} 
            (private)
          {% endif %} 
        </h5>
        {% for user_item in collection.user_media %}
          <img src="{{ user_item.item.cover }}" class="{{ user_item.user_media_id }}">
        {% endfor %}
        <p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" 
          data-bs-target="#collection-popout">
            delete collection
          </button>
        </p>
      </div>
      {% endfor %} 

      <button class="collection-actions btn btn-primary" id="create-collection">
        Add New Collection
      </button>
      <div class="container" id="new-collection"></div>
      <div class="container" id="which-collection-to-add-to"></div>
    </div>

    <div class="empty-space">&ThinSpace;</div><!--add whitespace-->

    <div class="container-fluid" id="collection-details"></div>

    <div class="container-fluid" id="item-details"></div>

    <div class="empty-space">&ThinSpace;</div><!--add whitespace-->

    <div class="container row">
      <h3>Your Top Media</h3>
      <div class="container">
        {% for user_item in user.media %} 
          <img src="{{ user_item.item.cover }}" 
          class="user-media-id {{ user_item.user_media_id }}" 
          id="{{ user_item.user_media_id }}" value="{{ user_item.user_media_id }}">
        {% endfor %}
      </div>
    </div>

    <div class="empty-space">.</div><!--add whitespace-->



    <!-- from bootstrap sortable table -->
    <link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
  
    <div class="container table">
      <h3 id="your-media">Your Library</h3>
      <table
      data-toggle="table"
      data-search="true"
      data-show-columns="true">
        <thead>
          <tr>
            <th>UM-ID</th>
            <th>Type</th>
            <th>Cover</th>
            <th>Title</th>
            <th>Last Updated</th>
            <th>Rating</th>
            <th>Review</th>
            <th>Source</th>
            <th>Start Date</th>
            <th>Finish Date</th>
            <th>DNF</th>
            <th>Num Times Thru</th>
          </tr>
        </thead>
        <tbody>
          {% for item in user.media %} 
            <tr id="tr-id-{{ item.user_media_id }}" class="tr-class-{{ item.user_media_id }}" 
            data-title="bootstrap table" data-object='{"key": "value"}'>
              <td>{{ item.user_media_id }}</td>
              <td>{{ item.item.media_type.media_type }}</td>
              <td><img src="{{ item.item.cover }}"></td>
              <td>{{ item.item.title }}</td>
              <td>{{ item.last_updated_at }}</td>
              <td>{{ item.rating }}</td>
              <td>{{ item.review }}</td>
              <td>{{ item.source }}</td>
              <td>{{ item.start_date }}</td>
              <td>{{ item.end_date }}</td>
              <td>{{ item.dnf }}</td>
              <td>{{ item.num_consumptions }}</td>
            </tr>
          {% endfor %} 
        </tbody>
      </table>
    </div>  
  </div>
</main>

<div class="empty-space">&ThinSpace;</div><!--add whitespace-->

<script src="/static/js/manage.js"></script>
  
{% endblock %}