<h1>-----------------------------------------------------------</h1>

<h1 name="chosen-item" id="db-item-id" value="{{ db_item.item_id }}">Manage Your Item</h1>

<div>
  <a href="/edit_item"><button class="item-actions" id="edit-details" value="{{ user_item.user_media_id }}">Edit Details</button></a>
  <button class="item-actions" id="add-to-collection" value="{{ user_item.user_media_id }}">Add to Collection</button>
  <button class="item-actions" id="delete-from-library" value="{{ user_item.user_media_id }}">
    Delete From Your Library
  </button>
  <button class="close-details" id="close-item-actions" value="{{ user_item.user_media_id }}">Close Details</button>
</div>

<div>
  <h3 id="chosen-user-item" value="{{ user_item.user_media_id }}">{{ user_item.item.title }}</h3>
  <img src="{{ user_item.item.cover }}" id="item-cover">
  <h5>Your Rating:</h5>
  <p class="editable-detail" id="rating" value="{{ user_item.rating }}">{{ user_item.rating }}</p>
  <h5>Your Review:</h5>
  <p class="editable-detail" id="review" value="{{ user_item.review }}">{{ user_item.review }}</p>
  <h5>Source:</h5>
  <p class="editable-detail" id="source" value="{{ user_item.source }}">{{ user_item.source }}</p>

  <h5>Start Date:</h5>
  <p class="editable-detail" id="start_date" value="{{ user_item.start_date }}">{{ user_item.start_date }}</p>
  <h5>End Date:</h5>
  <p class="editable-detail" id="end_date" value="{{ user_item.end_date }}">{{ user_item.end_date }}</p>
  <h5>Did Not Finish:</h5>
  <p class="editable-detail" id="dnf" value="{{ user_item.dnf }}">{{ user_item.dnf }}</p>
  <h5>Number of Times Consumed:</h5>
  <p class="editable-detail" id="num_consumptions" value="{{ user_item.num_consumptions }}">{{ user_item.num_consumptions }}</p>
  <h5>Last Updated:</h5>
  <p class="editable-detail" id="last_updated_at" value="{{ user_item.last_updated_at }}">{{ user_item.last_updated_at }}</p>

  <h5>Description:</h5>
  <p>{{ user_item.item.description }}</p>
</div>

<script src="/static/js/manage_popout.js"></script>

<h1>-----------------------------------------------------------</h1>
