
<h1>-----------------------------------------------------------</h1>

<h1>Manage Your Collection</h1>

<div>
  <h3>{{ collection.name }}</h3>
  <div>
    <button class="collection-actions" id="delete-collection" value="{{ collection.collection_id }}">Delete Collection</button>
    <button class="close-details" id="close-collection-actions" value="{{ collection.collection_id }}">Close Details</button>
  </div>
  {% for item in collection.user_media %}
      <img src="{{ item.item.cover }}" class="{{ item.user_media_id }}">
  {% endfor %}
</div>

<script src="/static/js/manage_popout.js"></script>

<h1>-----------------------------------------------------------</h1>
