<div class="container popout">

<h1>{{ collection.name }}</h1>

<div class="container blurb">
  {% for item in collection.user_media %}
      <img src="{{ item.item.cover }}" class="{{ item.user_media_id }}">
  {% endfor %}
  <div>
    <button class="collection-actions btn btn-primary" id="delete-collection" 
    value="{{ collection.collection_id }}">Delete Collection</button>
    <button class="close-details btn btn-primary" id="close-collection-actions" 
    value="{{ collection.collection_id }}">Close</button>
  </div>
</div>

</div>
<div class="row empty-space">&ThinSpace;</div><!--add whitespace-->
<script src="/static/js/manage_popout.js"></script>
