<div class="container popout">

<h1 name="chosen-item" id="db-item-id" value="{{ db_item.item_id }}">{{ user_item.item.title }}</h1>

<div class="container row blurb">
  <div class="col-2">
        <!-- jinja comment ... -->{# 
    <h3 id="chosen-user-item" value="{{ user_item.user_media_id }}">
      {{ user_item.item.title }}
    </h3>
    #}<!-- /jinja comment ... -->
    <img src="{{ user_item.item.cover }}" id="item-cover"><!-- TODO: MAKE COVER BIGGER -->
  </div>
  <div class="col-3">
    <p class="editable-detail" id="rating" value="{{ user_item.rating }}">
      <span class="h5">Rating:</span> {{ user_item.rating }}
    </p>
    <p class="editable-detail" id="source" value="{{ user_item.source }}">
      <span class="h5">Source:</span> {{ user_item.source }}
    </p>
    <p class="editable-detail" id="start_date" value="{{ user_item.start_date }}">
      <span class="h5">Start Date:</span> {{ user_item.start_date }}
    </p>
    <p class="editable-detail" id="end_date" value="{{ user_item.end_date }}">
      <span class="h5">End Date:</span> {{ user_item.end_date }}
    </p>
    <p class="editable-detail" id="review" value="{{ user_item.review }}">
      <span class="h5">Review:</span> {{ user_item.review }}
    </p>
    <!-- jinja comment ... -->{# 
    <h5>Did Not Finish:</h5>
    <p class="editable-detail" id="dnf" value="{{ user_item.dnf }}">
      {{ user_item.dnf }}
    </p>
  </div>
  <div class="col-2">
    <h5>Number of Times Consumed:</h5>
    <p class="editable-detail" id="num_consumptions" value="{{ user_item.num_consumptions }}">{{ user_item.num_consumptions }}</p>
    <h5>Last Updated:</h5>
    <p class="editable-detail" id="last_updated_at" value="{{ user_item.last_updated_at }}">{{ user_item.last_updated_at }}</p>
    #}<!-- /jinja comment ... -->
  </div>
  <div class="col-7">
    <h5>Description:</h5>
    <p>{{ user_item.item.description }}</p>
  </div>
</div>
<div class="container blurb">
  <a href="/edit_item"><button class="item-actions btn btn-primary" id="edit-details" 
    value="{{ user_item.user_media_id }}">Edit Details</button></a>
  <button class="item-actions btn btn-primary" id="add-to-collection" 
  value="{{ user_item.user_media_id }}">Add to Collection</button>
  <button class="item-actions btn btn-primary" id="delete-from-library" 
  value="{{ user_item.user_media_id }}">Delete From Your Library
  </button>
  <button class="close-details btn btn-primary" id="close-item-actions" 
  value="{{ user_item.user_media_id }}">Close</button>
</div>
<div class="container more-detail blurb" id="which-collection-to-add-to"></div>

<script src="/static/js/manage_popout.js"></script>

</div>